body {
  background: url("https://res.cloudinary.com/hulastar/image/upload/v1646931232/SwapStation/bg3_k993vm.jpg")
    repeat top center fixed #1a1a1a;
  background-size: cover;
  margin: 0;
  padding-top: 101px;
}

a {
  list-style: none;
  color: #57de39;
  transition: all 0.2s ease-in-out;
}

a:hover,
a:focus,
a:active {
  color: #5af275;
}

.bg-ps {
  background-color: #042c4b;
  color: #ffffff;
}

.navbar a,
a.nav-link {
  color: #57de39;
  text-decoration: none;
}

nav a.nav-link:hover,
nav a.nav-link:focus,
nav a.nav-link:active,
footer a.nav-link:hover,
footer a.nav-link:focus,
footer a.nav-link:active {
  color: #5af275;
  text-shadow: 0 0 10px #5af275, 0 0 10px #57de39;
}

.card a {
  text-decoration: none;
}
