body {
  margin: 0;
}

a {
  list-style: none;
  color: #57de39;
  transition: all 0.15s ease-in-out;
}

a:hover,
a:focus,
a:active {
  color: #5af275;
  text-shadow: 0 0 10px #5af275, 0 0 10px #57de39;
}

.bg-ps {
  background-color: #042c4b;
  color: #ffffff;
}

.navbar a,
a.nav-link {
  color: #57de39;
  text-decoration: none;
}

a.nav-link:hover,
a.nav-link:focus,
a.nav-link:active {
  color: #5af275;
  text-shadow: 0 0 10px #5af275, 0 0 10px #57de39;
}
